:root {
   --primary-color: hsl(0, 0%, 93%);
   --secondary-color: hsl(0, 0%, 20%);
   --link-hover: hsl(48, 100%, 50%);
   --focus-color: hsl(203, 100%, 25%);
}

/* CSS Reset */
*,
*::before,
*::after {
   box-sizing: border-box;
}
* {
   margin: 0;
   padding: 0;
}
/* Main Style */
body {
   background-color: var(--primary-color);
   font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
   font-size: 1.1rem;
   line-height: 1.5;
}

a {
   color: var(--primary-color);
   text-decoration: none;
   transition: all 0.3s ease;
}

a:hover {
   color: var(--link-hover);
   scale: 1.1;
}

h2 {
   border-bottom: 1px solid red;
   margin-bottom: 1rem;
   width: 100%;
}

/* Header */
header {
   background-color: var(--secondary-color);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 2rem;
   position: sticky;
   top: 0;
   z-index: 10;
}

.logo {
   height: auto;
   width: 100px;
}

.header-navbar {
   display: flex;
   gap: 1rem;
}

/* Main */
main {
   display: flex;
   flex-direction: column;
   gap: 4rem;
   max-width: 70rem;
   margin: 0 auto;
   padding: 2rem;
}

.hero {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.hero img {
   height: 20rem;
   width: 20rem;
}

/* Sections */
section {
   scroll-margin-top: 9rem;
}

section > div {
   display: flex;
   gap: 2rem;
}

/* Form */
input:focus {
   border: 1px solid var(--focus-color);
}

/* Footer */
footer {
   background-color: var(--secondary-color);
   color: var(--primary-color);
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 2rem;
}
